a, a:focus {
	color: #8c8c9c;
	text-decoration: none;
}

a:hover {
	color: #F1F1F1;
	text-decoration: none;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	margin: 15px 0px;
	font-size: 2em;
	text-align: center;
}

.main {
	background-color: #3d3d42;
}

.row {
	margin: 2px 0px;
	padding: 5px;
}

#header {
	position: relative;
	background-color: #6441A5;
	color: #F1F1F1;
}

.avatar {
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
	border: 3px solid #F1F1F1;
}

#username, #streamGame {
	line-height: 25px;
	overflow: hidden;
	text-align: center;
	color: #F1F1F1;
}
